@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
:root {
  font-size: 90%;
}
.main {
  width: 100%;
  /* height: ; */
  transition: all 0.2s linear;
  background-color: #e2e2e2;
  /* border: 2px solid red; */
}

/* sidebar starts ==================== */

.sidebar {
  background-color: white;
  position : fixed;
  border-right: 1px solid rgb(235, 235, 235);
  z-index: 100000;
  top : 0;
  left : 0;
  width : 320px;
  height :100vh;
  overflow-y: scroll;
  transition: all 0.1s linear;
}
.sidebar_logo_box {
  text-align: center;
  padding: 3rem 1rem;
  border-bottom: 2px solid #0fbbd9;
}
.sidebar_sec_2 {
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.side_zendesk {
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 2rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_content {
  /* background-color: red; */
  text-align: left;
  margin-top: 1rem;
}

.sidebar_buttons {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #09b6d4;
}
.sidebar_buttons-btn {
  height: 60px;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 1.5px solid #09b6d4;
  border-radius: 7px;
  color: #09b6d4;
  font-weight: bold;
  /* justify-content: center; */
  background-color: white;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.sidebar_buttons a.active {
  background-color: #09b6d4;
  color: white;
}
.sidebar_button_imagebox {
  width:35px;

  /* background-color: red; */
  font-size: 1.2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar.active_side{
  left: 0vw;
}

/* sidebar ends   ==================== */

.right-side {
  background-color: #e2e2e2;
  margin-left: 320px;
}
.header {
  width: 100%;
  height: 80px;
  border-bottom: 2px solid rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem;
  align-items: center;
  background-color: white;
  z-index: 1000;
}
.button {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  cursor: pointer;
}
.button_mobail {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  cursor: pointer;
}
.header h1 {
  color: #0fbbd9;
  font-size: 1.5rem;
}
.header_right_side {
  display: flex;
  align-items: center;
}
.profile {
  display: flex;
  align-items: center;
  /* background-color: red; */
  margin-left: 2.5rem;
}
.profile .setting_image {
  margin-right: 1.5rem;
  /* background-color: red; */
  cursor: pointer;
}
.profile .bell_image {
  margin-right: 1.5rem;
  cursor: pointer;
}
.profile_images {
  border-radius: 50%;
  margin-right: 1rem;
}
.profile_text {
  color: rgb(99, 99, 99);
  font-size: 0.8rem;
}

.input_box {
  /* background-color: red; */
  display: flex;
  width: 300px;
  height: 45px;
  align-items: center;
  /* justify-content: center; */
  border: 2px solid rgb(240, 240, 240);
  /* padding: .2rem; */
  border-radius: 4px;
}
.input_box_label {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.input_box img {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.input_box input {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  border: 2px solid white;
  outline: none;
  border-radius: none;
}

/* hero section starts ==================================================================================== */

.hero_section {
  width: 100%;
  min-height: 575px;
  background-color: white;
  display: flex;
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
}
.hero_left {
  flex: 1;
  margin-right: 2rem;
}
.hero_right {
  flex: 1;
  margin-left: 2rem;
  /* background-color: red; */
}

.hero_left_header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 1rem;
}
.hero_left_header img {
  margin-right: 1rem;
}
.hero_left_header h2 {
  font-size: 1.2rem;
  color: #3e3e3e;
}

.hero_right_header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 70px;
}
.hero_right_header img {
  margin-right: 1rem;
}
.hero_right_header h2 {
  font-size: 1.2rem;
  color: #3e3e3e;
}

.content .content_heading {
  line-height: 2rem;
  color: grey;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.address {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  /* background-color: red; */
  color: grey;
  font-size: 0.9rem;
}
.address img {
  margin-right: 1rem;
}

.hero_right_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: blue; */
  grid-template-rows: repeat(3, 130px);
  grid-gap: 1rem;
}

.highligh {
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.2rem;
}
.highligh_content {
  color: white;
}
.highligh_content p {
  font-size: 0.9rem;
}
.highligh_content h1 {
  font-size: 1.3rem;
}
.highligh_image_box {
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.highligh_image_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* hero section ends ==================================================================================== */

/* section_1 starts */

.section_1 {
  width: 100%;
  min-height: 60px;
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0.5rem 2rem;
}

.section_1 p {
  color: #0fbbd9;
  font-weight: bold;
  /* letter-spacing: .1rem; */
}

/* section_1 ends */

/* section_2 starts ======== */

.section_2 {
  display: flex;
  padding: 0 0.2rem;
  /* align-items: center; */
  /* background-color: red; */
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.section_2_box {
  display: flex;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 0.3rem 0.3rem;
  border-radius: 10px;
  padding: 2rem 2rem;
  justify-content: space-between;
  position: relative;
}
.comma {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 50px;
  height: 50px;
  /* border: 2px solid red; */
  background: url(./images/image\ 5.png);
  background-position-y: 20%;
  background-position-x: 3.5%;
  background-size: 350px;
}

.user_desig {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.8rem;
  color: #03014c;
}
.section_2_box p {
  width: 70%;
  font-size: 0.8rem;
  line-height: 1.5rem;
  /* margin-right: 2rem; */
  color: #3e3e3e;
  /* padding: 1rem 0 ; */
}
.section_2_box .section_2_box_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  background-repeat: no-repeat;
}
.sec_2_img1 {
  background: url(./images/image\ 6.png);
  background-position-x: 91.5%;
  background-position-y: 56%;
  background-size: 280px;
}
.sec_2_img2 {
  background: url(./images/image\ 5.png);
  background-position-x: 89.5%;
  background-position-y: 54%;
  background-size: 280px;
}

/* section_2 ends */

/* rating section starts */

.swiper-container{
  margin-top: 1rem;
  /* width: 100%; */
  min-height: 350px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}

.swiper-wrapper{
  padding: 0 ;
  margin: 0;
  width: 100%;
}

.swiper-slide{
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ratings {
  width: 100%;
  /* min-height: 350px; */
  background-color: white;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}
.ratings h3 {
  /* margin-bottom: 2rem; */
  color: #09b6d4;
}

.rating_charts {
  padding: 2rem 0;
  display:flex;
  overflow-x: auto;
}
.rating_charts::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.rating_charts::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 20px;
}

.rating_charts::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
  border-radius: 20px;
}


.rating_chart {
  min-width: 200px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5px;
  margin: 4rem 1rem;
  position: relative;
}
.rating_chart p {
  width: 50%;
  text-align: center;
  /* background-color: red; */
  font-size: 0.9rem;
}

.rat_one {
  background-image: url("./images/chart-circle.png");
}
.rat_two {
  background-image: url(./images/chart-circle-purpel.png);
}
.rat_three {
  background-image: url(./images/chart-circle-darkblue.png);
}
.rat_fourth {
  background-image: url(./images/chart-circle-pink.png);
}

.rat_one::before {
  content: "cold as ice";
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 40%;
}
.rat_one::after {
  content: "buddy buddy";
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 45%;
  text-align: center;
  /* background-color: red; */
}
.rat_two::before {
  content: "what's a computer";
  width: 50px;
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 40%;
}
.rat_two::after {
  width: 60px;
  content: "eientien is impressed";
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  width: 40%;
}
.rat_three::before {
  content: "Reinventing the wheel";
  width: 60px;
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 40%;
}
.rat_three::after {
  width: 80px;
  content: "Elon Musk's Next Project";
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  width: 40%;
}

.rat_fourth::before {
  content: "name the price";
  width: 60px;
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  width: 40%;
}
.rat_fourth::after {
  width: 80px;
  content: "every dime counts";
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  width: 40%;
}

/* rating section ends */

/* prospecting starts ================== */

.prospecting {
  width: 100%;
  background-color: white;
  padding: 2rem 2rem;
}
.prospecting h1 {
  color: #0fbbd9;
  margin-bottom: 2rem;
}
.prospecting_sec1 {
  display: flex;
}
.prospecting_left {
  flex: 1;
  margin-right: 2rem;
}
.prospecting_right {
  flex: 1;
  /* background-color: blue; */
  margin-left: 2rem;
}
.prospecting_left p,
.prospecting_right p {
  color: grey;
}

.plane_charts {
  margin-top: 3rem;
}

.plane_chart p {
  width: 50px;
}

.plane_chart {
  /* background-color: red; */
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plane_chart_2 {
  /* background-color: red; */
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
  position: relative;
}
.plane_chart_2 p {
  width: 50px;
}

.planeChart {
  background: #d3e1e7;
  width: 100%;
  height: 16px;

  border-radius: 20px;
  margin-left: 0.5rem;
  position: relative;
  /* overflow: hidden; */
}
.planechart_metre {
  width: 45.2%;
  height: 100%;
  background-color: #0fbbd9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.planeOne::before {
  content: "Cold call or email";
  position: absolute;
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
  bottom: 120%;
}

.planeTwo::before {
  content: "Already connected to them from prior business";
  position: absolute;
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
  bottom: 120%;
}

.planeThree::before {
  content: "They approached us via an intro";
  position: absolute;
  font-size: 0.8rem;

  color: rgb(170, 170, 170);
  bottom: 120%;
}

.planeFourth::before {
  content: "Via a third-party intro";
  position: absolute;
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
  bottom: 120%;
}
.planeChart_2 {
  width: 100%;
  height: 40px;
  /* background-color: red; */
  /* border-radius: 20px; */
  margin-left: 0.5rem;
  background-color: #d3e1e7;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.planechart_2_metre {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0fbbd9;
}

.planeChart_2 p {
  width: 100%;
  color: white;
  z-index: 10;
}

.pros_right_bottom {
  height: 300px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  justify-content: flex-end;
}

.pros_right_bottom .bo_he {
  margin-bottom: 1rem;
}
.pros_right_bottom h4 {
  margin-top: 2rem;
  color: grey;
}

.planeChart_2_bottom {
  /* border: 2px solid red; */
  width: 100%;
  height: 40px;
  /* background-color: red; */
  /* border-radius: 20px; */
  margin-left: 0.5rem;
  /* background: linear-gradient(90deg, #af8eff 50%, #acb9ff 50%); */
  background-color: #acb9ff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.planeChart_2_bottom p {
  width: 100%;
  /* background-color: red; */
  color: white;
  z-index: 10;
}

/* prospecting ends ================== */

/* propecting_charts starts */
.propecting_charts {
  width: 100%;
  background-color: white;
  /* border: 2px solid red; */
  display: flex;
  padding: 1rem;
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-content: space-between; */
}
.propecting_charts_1 {
  flex: 1;
  padding: 2rem;
  background-color: rgb(242, 242, 242);
  margin-right: 1rem;
}
.propecting_charts_1 h4 {
  color: grey;
  font-weight: 400;
}
.propecting_charts_2 {
  flex: 1;
  padding: 2rem;
  background-color: rgb(242, 242, 242);
}

.propecting_charts_1 .hea,
.propecting_charts_2 .hea {
  color: grey;
  margin-bottom: 1rem;
}

.propecting_charts_1_image {
  width: 100%;
  height: 400px;
  /* background-color: red; */
  background: url(./images/Pie.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  /* border: 2px solid red; */
  /* background-size: contain; */
}
.propecting_charts_2_image {
  width: 100%;
  position: relative;
  height: 400px;
  /* background-color: red; */
  background: url(./images/RFP-Pie.png);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: contain; */
}

.exp {
  /* height: 0; */
  display: flex;
  align-items: center;
  position: absolute;
  color: grey;
}
.exp_circle {
  width: 15px;
  height: 15px;

  border-radius: 50%;
  margin-right: 4px;
}
.exp_one {
  top: 10%;
  left: 0%;
}
.c_one {
  background-color: #acb9ff;
}
.exp_two {
  top: 80%;
  left: 0%;
}
.c_two {
  background-color: #1f87fd;
}

.exp_three {
  top: 85%;
  right: 0%;
}
.c_three {
  background-color: #7fe4f0;
}
.exp_2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.exp_2_circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.c_2_one {
  background-color: #0fbbd9;
  margin-right: 4px;
}
.c_2_two {
  background-color: #1f87fd;
  margin-right: 4px;
}

/* propecting_charts ends */

/* obj_handling starts ========= */
.obj_h {
  background-color: white;
  margin-top: 2rem;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}
.obj_h h3 {
  color: #0fbbd9;
}
.obj_handling {
  display: flex;
  margin-top: 2rem;
}

.obj_left {
  flex: 1;
  height: 400px;
  margin-right: 1rem;
  /* background-color: red; */
  background: url(./images/Factors\ -\ Winning.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.obj_right {
  flex: 1;
  height: 400px;
  background: url(./images/factors-delay.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* obj_handling ends   ========= */

/* closing the deal starts ========= */
.cld {
  width: 100%;
  padding: 3rem;
  background-color: white;
}
.cld_12873 {
  display: flex;
}
.cld h3 {
  color: #0fbbd9;
  margin-bottom: 2rem;
}
.cld_left {
  flex: 1;
  background-color: rgb(235, 235, 235);
  margin-right: 1rem;
  padding: 2rem;
}
.cld_right {
  flex: 1;
  background-color: rgb(235, 235, 235);
  padding: 2rem;
}
.pricing {
  /* background-color: red; */
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pricing h2 {
  margin-bottom: 0.9rem;
  font-size: 2rem;
  color: rgb(90, 90, 90);
}
.pricing_d {
  display: flex;
  justify-content: center;
}
.pricing_d p:nth-child(1) {
  background-color: #00c667;
  color: white;
  margin-right: 0.5rem;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
.pricing_d p:nth-child(2) {
  color: grey;
}
.planeChart_2_breakdown {
  width: 100%;
  height: 40px;
  /* background-color: red; */
  /* border-radius: 20px; */
  margin-left: 0.5rem;
  /* background: linear-gradient(90deg, #af8eff 50%, #dacbff 50%); */
  background-color: #dacbff;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.planeChart_2_breakdown_metere {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.planeChart_2_breakdown p {
  width: 100%;
  /* background-color: red; */
  color: white;
  z-index: 10;
}
.cld_chart {
  width: 100%;
  height: 300px;
  background-color: red;
  margin-top: 2rem;
  background: url(./images/Index.png);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: contain; */
}

/*  closing the deal ends  ========= */

/* latest news starts ===================== */
.ln {
  width: 100%;
  background-color: white;
  margin-top: 2rem;
  padding: 3rem 2rem;
}
.ln h3 {
  margin-bottom: 2rem;
  color: #09b6d4;
}
.latest_news {
  display: flex;
  flex-direction: row;
}
.ln_left {
  flex: 1;
  margin-right: 1rem;
  background-color: rgb(235, 235, 235);
  padding: 2rem;
}
.ln_right {
  flex: 1;
  background-color: rgb(235, 235, 235);
  padding: 2rem;
}

.ln_content {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.ln_content img {
  margin-right: 1rem;
}
.ln_content a {
  color: grey;
  font-size: 0.9rem;
  /* line-height: 2rem; */
}
/* latest news ends   ===================== */

.close_btn {
  display: none;
}

.button_mobail {
  display: none;
}

.black_screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s linear;
}

/* sales cycle timeline starts =================== */
.scts {
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
  padding: 3rem 2rem;
}
.scts h3 {
  color: #0fbbd9;
}
.metere_container {
  flex: 1;
  position: relative;
}
.sales_metere {
  /* border: 2px solid red; */
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.metere {
  flex: 1;
  height: 30px;
  /* background-color: blue; */
  border-radius: 20px;
  margin: 0 1rem;
  display: flex;
  overflow: hidden;
}
.metere_1 {
  flex: 1;
  background-color: #09b6d4;
  position: relative;
}
.metere_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 30px;
  height: 100%;
  background-color: #1f87fd;
  border-radius: 50%;
}
.metere_1::after {
  content: "";
  position: absolute;
  top: 0;
  right: -22px;
  width: 30px;
  height: 100%;
  background-color: #1f87fd;
  border-radius: 50%;
  z-index: 10;
}
.metere_2 {
  flex: 0.3;
  background-color: #af8eff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.metere_2 p {
  text-align: center;
  color: white;
  font-weight: bold;
  /* background-color: red; */
}
.metere_2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  height: 100%;
  background-color: #1f87fd;
  border-radius: 50%;
}

.metere_2_cont {
  flex: 1;
  /* background-color: red; */
  margin: 0 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.metere2_one {
  flex: 1;
  height: 20px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  margin-right: 1rem;
  position: relative;
}
.metere2_one::after {
  content: "";
  width: 100%;
  height: 48%;
  position: absolute;
  /* background-color: red; */
  border-bottom: 2px solid grey;
}
.metere2_two {
  flex: 0.26;
  height: 20px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  position: relative;
}
.scts_head {
  width: 10ch;
  text-align: center;
  color: grey;
  text-align: center;
}
.metere2_one p {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.metere2_two p {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.metere2_two::after {
  content: "";
  width: 100%;
  height: 48%;
  position: absolute;
  /* background-color: red; */
  border-bottom: 2px solid grey;
}

.scts_outer_text {
  margin-top: 5rem;
  color: grey;
}

/* sales cycle timeline ends   =================== */

/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */
/* media query starts ======================================= */

@media (max-width: 1060px) {
  
  
  .header {
    padding: 0 1.5rem;
  }
  .button {
    margin-right: 1rem;
  }
  .button_mobail {
    margin-right: 1rem;
  }
  .header h1 {
    font-size: 1.3rem;
  }
  .header_right_side {
    display: flex;
    align-items: center;
  }
  .profile {
    margin-left: 1rem;
  }
  .profile .setting_image {
    margin-right: 1rem;
  }
  .profile .bell_image {
    margin-right: 1rem;
  }
  .profile_images {
    margin-right: 0.5rem;
  }
  .input_box {
    width: 250px;
  }
}

@media (max-width: 980px) {
 
  
  .button {
    display: none;
  }
  .right-side {
    margin-left: 0;
    padding-top: 80px;
  }
  .button_mobail {
    display: inline;
  }
  .main {
    all: initial;
  }

  .sidebar {
    width:360px;
    left: -100vw;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .close_btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    transform: rotate(45deg);
    cursor: pointer;
    color: grey;
  }
}

@media (max-width: 850px) {
  .hero_right_content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 130px);
  }
  .section_2_box {
    width: 100%;
  }

  .section_2_box p {
    width: 70%;
    font-size: 1rem;
    line-height: 1.5rem;
    /* margin-right: 2rem; */
    color: #3e3e3e;
    /* padding: 1rem 0 ; */
  }

  .propecting_charts {
    flex-direction: column;
  }

  .propecting_charts_1 {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .prospecting_sec1 {
    display: flex;
    flex-direction: column;
  }
  .prospecting_left {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  .prospecting_right {
    margin-left: 0rem;
    margin-bottom: 3rem;
  }

  .latest_news {
    display: flex;
    flex-direction: column;
  }
  .ln_left {
    margin-right: 0rem;
    /* background-color: red; */
    margin-bottom: 1rem;
  }
}

@media (max-width: 750px) {
  /* .header{
    display: none;
  } */

  
  .cld_12873 {
    flex-direction: column;
  }

  .cld_left {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .obj_handling {
    display: block;
    margin-top: 2rem;
    /* flex-direction: column; */
  }

  .obj_left {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .header {
    padding: 0 1rem;
  }
  .button {
    margin-right: 1rem;
  }
  .button_mobail {
    margin-right: 0.8rem;
  }
  .header h1 {
    font-size: 1.2rem;
  }
  .header_right_side {
    display: flex;
    align-items: center;
  }
  .profile {
    margin-left: 0.8rem;
  }
  .profile .setting_image {
    margin-right: 0.8rem;
  }
  .profile .bell_image {
    margin-right: 0.8rem;
  }
  .profile_images {
    margin-right: 0.2rem;
  }

  .input_box {
    width: 200px;
  }

  /* ============================================ */
  /* ============================================ */
  /* ============================================ */
  /* ============================================ */
  /* ============================================ */

  .scts {
    width: 100%;

    margin-bottom: 2rem;
    background-color: white;
    padding: 3rem 2rem;
    /* background-color: red; */
  }
  .scts h3 {
    color: #0fbbd9;
  }
  .metere_container {
    flex: 1;
    position: relative;
    margin-left: 4rem;
  }
  .sales_metere {
    margin-top: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .metere {
    flex: 1;
    width: 30px;

    height: 500px;
    border-radius: 20px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .metere_1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #1f87fd;
    border-radius: 50%;
  }
  .metere_1::after {
    content: "";
    position: absolute;
    top: 96%;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #1f87fd;
    border-radius: 50%;
    z-index: 10;
  }
  .metere_2 {
    flex: 0.3;
    background-color: #af8eff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .metere_2 p {
    text-align: center;
    color: white;
    font-weight: bold;
    transform: rotate(90deg);
    /* background-color: red; */
  }
  .metere_2::after {
    content: "";
    position: absolute;
    top: 78%;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: #1f87fd;
    border-radius: 50%;
  }

  .metere_2_cont {
    flex: 1;
    position: absolute;
    top: 0%;
    right: 100%;
    height: 95%;
    /* transform: rotate(90deg); */
    /* background-color: red; */
    margin: 0 1.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    /* background-color: red; */
  }
  .metere2_one {
    flex: 1;
    width: 20px;

    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1rem;
    margin-right: 0;
    position: relative;
  }
  .metere2_one::after {
    content: "";
    height: 100%;
    width: 48%;
    position: absolute;
    /* background-color: red; */
    border-right: 2px solid grey;
    border-bottom: 0;
  }
  .metere2_two {
    flex: 0.26;
    width: 20px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    border-right: 0;
    border-left: 0;
    background-origin: red;
    position: relative;
  }
  .metere2_two::after {
    content: "";
    height: 100%;
    width: 48%;
    position: absolute;
    /* background-color: red; */
    border-right: 2px solid grey;
    border-bottom: 0;
  }

  .scts_head:nth-child(1) {
    width: 100%;
    text-align: center;
    color: grey;
    margin-bottom: 2rem;
    text-align: center;
  }
  .scts_head:nth-child(3) {
    width: 100%;
    text-align: center;
    color: grey;
    margin-top: 2rem;
    text-align: center;
  }
  .metere2_one p {
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateX(0%);
    text-align: center;
  }
  .metere2_two p {
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateX(0%);
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 80%;
  }
  .right-side {
    margin-left: 0;
    padding-top: 120px;
}
  .hero_section {
    flex-direction: column;
    text-align: center;
  }
  .hero_left {
    flex: 1;
    margin-right: 0rem;
  }
  .hero_right_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: blue; */
    grid-template-rows: repeat(3, 130px);
    grid-gap: 0.5rem;
  }

  .hero_right {
    flex: 1;
    margin-left: 0rem;
    /* background-color: red; */
  }

  .header {
    min-height: 120px;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .header_right_side {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    justify-content: space-between;
  }
  .input_box {
    flex: 1;
    /* width: 250px; */
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    /* background-color: red; */
    color: grey;
    font-size: 0.9rem;
  }
}


@media (max-width: 430px) {
  .highligh {
    padding: 0 0.7rem;
    flex-direction: column;
    justify-content: center;
  }
  .right-side {
    margin-left: 0;
    padding-top: 160px;
}
 
  .section_2_box p {
    width: 70%;
    font-size: 1rem;
    line-height: 1.5rem;
    /* margin-right: 2rem; */
    color: #3e3e3e;
    /* padding: 1rem 0 ; */
  }

  .highligh_content {
    color: white;
  }
  .highligh_content p {
    font-size: 0.8rem;
  }
  .highligh_content h1 {
    font-size: 1.1rem;
  }
  .highligh_image_box {
    padding: 0.5rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  .cld {
    width: 100%;
    padding: 2rem 1rem;
    background-color: white;
    font-size: 1rem;
  }

  .right-side {
    margin-left: 0;
    padding-top: 160px;
}

  .sidebar {
    width:100%;
    left: -100vw;
  }

  .section_2_box p {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-right: 0rem;
    color: #3e3e3e;
    padding: 0;
    margin-top: 1rem;
    /* background-color: red; */
  }

  .cld_left {
    margin-right: 0rem;
    padding: 2rem;
  }
  .cld_right {
    padding: 2rem;
  }

  .ln {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  .prospecting {
    width: 100%;
    background-color: white;
    padding: 2rem 1.5rem;
    font-size: 1rem;
  }

  .propecting_charts {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.8rem;
  }
  .section_1 {
    font-size: 1rem;
  }

  .propecting_charts_2_image {
    background-size: contain;
  }

  .propecting_charts_1_image {
    background-size: contain;
  }
  .cld_chart {
    background-size: contain;
  }

  .header {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .header_right_side {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .profile {
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 1rem;
    width: 100%;
  }
  .profile_images {
    margin-right: 1rem;
  }
  .input_box {
    /* flex: 1; */
    width: 100%;
  }
  .section_2_box {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 250px;
    background-color: white;
    margin: 0.3rem 0.3rem;
    border-radius: 10px;
    padding: 2rem 1rem;
    justify-content: center;
    position: relative;
    flex-direction: column-reverse;
    text-align: center;
  }

  .comma {
    position: absolute;
    top: 0;
    left: 1.5rem;
    width: 50px;
    height: 50px;
    /* border: 2px solid red; */
    background: url(./images/image\ 5.png);
    background-position-y: 20%;
    background-position-x: 3.5%;
    background-size: 350px;
  }
  .user_desig {
    position: absolute;
    bottom: 10px;
    right: 0px;
    font-size: 0.8rem;
    /* background-color: red; */
    width: 100%;
    color: #03014c;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .ln_content {
    text-align: center;
    flex-direction: column;
  }
  .ln_content img {
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }

  .metere_2_cont {
    flex: 1;
    position: absolute;
    top: 0%;
    right: 70%;
    height: 96%;
    /* transform: rotate(90deg); */
    /* background-color: red; */
    margin: 0 1.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    /* background-color: red; */
  }

  .metere2_one p {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateX(0%);
    text-align: center;
  }
  .metere2_two p {
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateX(0%);
  }

  .hero_section {
    width: 100%;
    min-height: 575px;
    background-color: white;
    display: flex;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 310px) {
 
  .sidebar_buttons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #09b6d4;
  }

  .sidebar_buttons-btn {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
  .sidebar_button_imagebox {
    width: 40px;
    font-size: 1.2rem;
    padding: 0;
  }
}
